/*GENERAL WRAP-UPS*/

body {
    background-color: #F6F6F6;
    background: #2B2B2B;
    color: wheat;
    font-family: "Helvetica Neue", Helvetica;
}
#header {
    margin-bottom: 20px; */
    font-family: sans-serif;
    color: #F6F6F6;
}
}
hr {
    border-color:#DE1B1B;
    border-width: 3px;
/*
    border: 0;
    height: 0;  Firefox... 
    box-shadow: 0 0 10px 1px black;
*/
}
/*SVG*/
.left-align{
    float:left;    
    width: 49%;
    overflow: auto;
    border-right: 1px solid #4F4F4F;
    border-left: 1px solid #4F4F4F;
}
.scrollBox {
    width: 100%;
    overflow: auto;
    cursor: default; 
}

/*CIRCLES*/

/*SELECT OPTION*/
.teamroster {
    border: none;
}
.dd-selected {
    padding: 5px 5px 0px 5px;
    height: 60px;
    color: #2B2B2B;
}
.dd-options { 
    height: 382px;
}
.dd-selected-text {
    margin-left: 10px;
}
/*LOGOS*/
.dd-selected-image {
    height: 50px;
}
/*
.select_style {
    background: #FFF;
    overflow: hidden;
    display: inline-block;
    color: #525252;
    font-weight: 300;
    -webkit-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -moz-border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    border-radius: 5px 4px 4px 5px/5px 5px 4px 4px;
    -webkit-box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    -moz-box-shadow: 0 0 5px rgba(123,123,123,.2);
    box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
    border: solid 2px #DADADA;
    font-family: "helvetica neue",arial;
    position: relative;
    cursor: pointer;
    padding-right:20px;
    margin:5px 20px ;
}
.select_style span {
    position: absolute;
    right: 10px;
    width: 8px;
    height: 8px;
    background: url(http://projects.authenticstyle.co.uk/niceselect/arrow.png) no-repeat;
    top: 50%;
    margin-top: -4px;
}
.select_style select {
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
    padding:7px 10px;
}
*/

/*
.teamroster {
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:none;
    height: auto;
    width: auto;
    font-size: 25px;
    border: none;
    background-color: aquamarine;
    color: blueviolet;
    opacity: .5;
}
*/
#teamNames:hover {
/*
    background-color: aliceblue;
    color: blue;
    opacity: .8;
*/
}
#teamNames option {
/*    background: aliceblue;*/
}

/*GRAPH LABELS*/
.domain {
    display: none;
}
.yAxis {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.xAxis {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    fill: aliceblue;
}
.positionLabel {
    border: none;
    fill: black;
    font-size: 12px;
}
.domain {
    display: none;
}

/*PREVIEW*/
.previewWrap {
    position:absolute;
    border:3px solid #ccc;
    background:#333;
    padding:5px;
/*    display:none;*/
    color:#fff;
    box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
    opacity:0.9
}

/*STATUS COLORS*/
.gone{
     fill: #FF3838; 
    stroke: #FF5757;
    opacity: 0.8;
    stroke-width: 2px;
}

.act {
    fill: lightgreen;
    stroke: #C1EFC1;
    opacity: 0.8;
    stroke-width: 2px;
} 
.sus {
    fill: black;
    stroke: #f9f9f9;
    opacity: 0.8;
    stroke-width: 2px;
} 
.udf {
    fill: grey;
    stroke: #b9b9b9;
    opacity: 0.8;
    stroke-width: 2px;
}
.other_team {
    fill: #536FF1;
    stroke: #8B8BFE;
    opacity: 0.8;
    stroke-width: 2px;
} 
.other {
    fill: gold;
    stroke: yellow;
    opacity: 0.8;
    stroke-width: 2px;
}

#legend{
    float: right;
    position: absolute;
    right: 35px;
    top: 15px;
    fill: white;
}

/*LOGOS*/
/*
img{
    position: relative;
    margin: 0px 250px;
    opacity: 0.9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 13px;
    background: #414141;
}

    
.logo {
    margin-top: 25px;
    margin-bottom: 25px;
}*/
