   .dropdown-menu {
    padding-right: 150px;
    /* width of img */
    position: relative;
}
.dropdown-menu:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    /* width of img */
    background: url(http://placehold.it/150x220) center;
    background-size: cover;
}
.nav .dropdown-menu ul {
    position:relative;
    overflow:auto;
}
.navimg {
    position:absolute;
    top:0;
    right:0;
    height:100%;
}
.dropdown-menu {
    position: absolute;
}